{% extends 'base.html' %}
{% block header %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

{% endblock %}
{% block contents %}
    <div class="row d-flex align-items-center">
        <div class="col-4">
            {{ product.name }}
        </div>
        <div class="col-6"><img src="{{ product.image.url }}" alt=""></div>
        <div class="col-2">
            {{ product.price }}
        </div>
    </div>
    <div class="row d-flex justify-content-end">

        <button type="button" class="btn btn-primary payment-click" onclick="">구매하기</button>
        <script>
            $(".payment-click").click(function () {
                var IMP = window.IMP;
                var code = "imp94819923";  // FIXME: 가맹점 식별코드
                IMP.init(code);

                // 결제요청
                IMP.request_pay({
                    pg: 'kakaopay',
                    pay_method: 'card',
                    merchant_uid: 'merchant_' + new Date().getTime(),
                    name: '주문명:결제테스트',
                    amount: {{ product.price }},
                    buyer_email: 'iamport@siot.do',
                    buyer_name: '구매자이름',
                    buyer_tel: '010-1234-5678',
                    buyer_addr: '서울특별시 강남구 삼성동',
                    buyer_postcode: '123-456'
                }, function (rsp) {
                    if (rsp.success) {
                        //[1] 서버단에서 결제정보 조회를 위해 jQuery ajax로 imp_uid 전달하기
                        jQuery.ajax({
                            url: "{% url 'order_check' %}", //cross-domain error가 발생하지 않도록 동일한 도메인으로 전송
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                'imp_uid': rsp.imp_uid,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                                //기타 필요한 데이터가 있으면 추가 전달
                            }
                        }).done(function (data) {
                            //[2] 서버에서 REST API로 결제정보확인 및 서비스루틴이 정상적인 경우

                            var msg = '결제가 완료되었습니다.';
                            msg += '\n고유ID : ' + rsp.imp_uid;
                            msg += '\n상점 거래ID : ' + rsp.merchant_uid;
                            msg += '\결제 금액 : ' + rsp.paid_amount;
                            msg += '카드 승인번호 : ' + rsp.apply_num;

                            alert(msg);

                        });
                    } else {
                        var msg = '결제에 실패하였습니다.';
                        msg += '에러내용 : ' + rsp.error_msg;

                        alert(msg);
                    }
                });
            })();
        </script>
    </div>
{% endblock %}